{% extends "lms/templates/lms_base.html" %}
<!-- {% from "www/macros/livecode.html" import LiveCodeEditorJS, LiveCodeEditor with context %} -->


{% block title %}
{{ exam.title }}
{% endblock %}


{% block head_include %}
{% for ext in page_extensions %}
{{ ext.render_header() }}
{% endfor %}
{% endblock %}

{% block page_content %}

<div class="container mt-10">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <!-- Main content -->
            <div class="row">
                {{ frappe.render_template('templates/exam/examform.html', {"exam": exam, "evaluation": 1}) }}
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- Scripts -->
    {%- block script %}
    {{ super() }}
    {% if exam %}
    <script type="text/javascript">
        var exam = {{ exam | tojson }};
        {% include "lms/templates/exam/examform.js" %}
        {% include "lms/templates/exam/examutils.js" %}
    </script>
    {% endif %}
    {% endblock %}