<div tabindex="0" class="card" id="calcCard">
    <div class="card-body">
        <div class="calculator">
            <div class="row mb-2">
                <div class="col-12">
                    <input type="text" id="calcResult" class="form-control" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill calcBtn" data-key="Escape">C</button>
                        <button class="btn btn-info flex-fill calcBtn" data-key="%">%</button>
                        <button class="btn btn-info flex-fill calcBtn" data-key="/">&divide;</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill calcBtn" data-key="*">&times;</button>
                        <button class="btn btn-info flex-fill calcBtn" data-key="-">-</button>
                        <button class="btn btn-info flex-fill calcBtn" data-key="+">+</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill calcBtn" data-key="7">7</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="8">8</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="9">9</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill calcBtn" data-key="4">4</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="5">5</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="6">6</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill calcBtn" data-key="1">1</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="2">2</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="3">3</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill calcBtn" data-key=".">.</button>
                        <button class="btn btn-light flex-fill calcBtn" data-key="0">0</button>
                        <button class="btn btn-info flex-fill calcBtn" data-key="=">=</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
