{% extends "templates/base.html" %}

{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
{% block page_content %}
Hello, world!
{% endblock %}
{% endblock %}

{%- block script -%}
{{ super() }}
{% if frappe.get_system_settings("enable_telemetry") %}
{% set telemetry_boot_info = get_telemetry_boot_info() %}
<script>
	const telemetry_boot_info = {{ get_telemetry_boot_info() }}
	if (telemetry_boot_info && Object.keys(telemetry_boot_info).length)
		Object.assign(frappe.boot, telemetry_boot_info)
</script>
{% endif %}
{{ include_script("telemetry.bundle.js") }}
{%- endblock -%}